
/* this css rules collection was amateurishly magpied from several css documents and examples */
:root{
	--sans-font:"Segoe UI",Calibri,Arial,Helvetica,sans-serif;
	--mono-font:Consolas,"Andale Mono",monospace;
	--bg:#fff;
	--accent-bg:#f5f5f5;
	--accent:#0d47a1;
	--border:#898ea4;
	--code:#0b1bab;
	--marked:#fd3;
	--preformatted:#444;
	--text-light:#585858;
	--text:#212121;
}

@media (prefers-color-scheme:dark){
	:root{
		color-scheme:dark;
		--bg:#212121;
		--accent-bg:#2b2b2b;
		--accent:#ffb300;
		--code:#f06292;
		--preformatted:#ccc;
		--text-light:#ababab;
		--text:#dcdcdc;
	}
	img,video{opacity:.8}
}

*,:before,:after{box-sizing:border-box}

html{
	font-family:var(--sans-font);
	scroll-behavior:smooth
}

body{
	color:var(--text);
	background-color:var(--bg);
	grid-template-columns:1fr min(45rem,90%) 1fr;
	margin:0;
	font-size:1.15rem;
	line-height:1.5;
	display:grid
}

body>*{grid-column:2}

body>header{
	background-color:var(--accent-bg);
	border-bottom:1px solid var(--border);
	text-align:center;
	grid-column:1/-1;
	padding:0 .5rem 2rem
}

body>header>:only-child{margin-block-start:2rem}

body>header h1{
	max-width:1200px;
	margin:1rem auto
}

body>header p{
	max-width:40rem;
	margin:1rem auto
}

main{padding-top:1.5rem}

body>footer{
	color:var(--text-light);
	text-align:center;
	border-top:1px solid var(--border);
	margin-top:4rem;
	padding:2rem 1rem 1.5rem;
	font-size:.9rem
}

h1{font-size:3rem}

h2{margin-top:3rem;font-size:2.6rem}

h3{margin-top:3rem;font-size:2rem}

h4{font-size:1.44rem}

h5{font-size:1.15rem}

h6{font-size:.96rem}

p{margin:1.5rem 0}

p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}

h1,h2,h3{line-height:1.1}

@media only screen and (width<=720px){
	h1{font-size:2.5rem}
	h2{font-size:2.1rem}
	h3{font-size:1.75rem}
	h4{font-size:1.25rem}
}

a,a:visited{color:var(--accent)}

a:hover{text-decoration:none}

header>nav{
	padding:1rem 0 0;
	font-size:1rem;
	line-height:2
}

header>nav ul,header>nav ol{
	flex-flow:wrap;
	place-content:space-around center;
	align-items:center;
	margin:0;
	padding:0;
	list-style-type:none;
	display:flex
}

header>nav ul li,header>nav ol li{display:inline-block}

header>nav a,header>nav a:visited{
	border:1px solid var(--border);
	color:var(--text);
	margin:0 .5rem 1rem;
	padding:.1rem 1rem;
	text-decoration:none;
	display:inline-block
}

header>nav a:hover,header>nav a.current,header>nav a[aria-current=page],header>nav a[aria-current=true]{
	border-color:var(--accent);
	color:var(--accent);
	cursor:pointer
}

@media only screen and (width<=720px){
	header>nav a{
		border:none;
		padding:0;
		line-height:1;
		text-decoration:underline
	}
}

aside,pre{
	background-color:var(--accent-bg);
	border:1px solid var(--border);
	margin-bottom:1rem
}

aside{
	float:none;
	width:90%;
	padding:0 15px;
	margin: 0 auto;
	font-size:1rem
}

article,fieldset,dialog{
	border:1px solid var(--border);
	margin-bottom:1rem;
	padding:1rem
}

article h2:first-child,section h2:first-child,article h3:first-child,section h3:first-child{margin-top:1rem}

section{
	border-top:1px solid var(--border);
	border-bottom:1px solid var(--border);
	margin:3rem 0;
	padding:2rem 1rem
}

section+section,section:first-child{
	border-top:0;
	padding-top:0
}

section+section{margin-top:0}

section:last-child{
	border-bottom:0;
	padding-bottom:0
}

details{padding:.7rem 1rem}

summary{
	cursor:pointer;
	word-break:break-all;
	margin:-.7rem -1rem;
	padding:.7rem 1rem;
	font-weight:700
}

details[open]>summary+*{margin-top:0}

details[open]>summary{margin-bottom:.5rem}

details[open]>:last-child{margin-bottom:0}

table{
	border-collapse:collapse;
	margin:1.5rem 0
}

figure>table{
	width:max-content;
	margin:0
}

td,th{
	border:1px solid var(--border);
	text-align:start;
	padding:.5rem
}

th{
	background-color:var(--accent-bg);
	font-weight:700
}

tr:nth-child(2n){background-color:var(--accent-bg)}

table caption{
	margin-bottom:.5rem;
	font-weight:700
}

label{display:block}

hr{
	background:var(--border);
	border:none;
	height:1px;
	margin:1rem auto
}

mark{
	background-color:var(--marked);
	color:#000;
	padding:2px 5px
}

mark a{color:#0d47a1}

img,video{
	max-width:100%;
	height:auto
}

figure{
	border: thin #c0c0c0 solid;
	display: flex;
	flex-flow: column;
	padding: 5px;
	max-width: 220px;
	margin: auto;}

figure>img,figure>picture>img{
	margin-inline:auto;
	display:block
}

figcaption{
	text-align:center;
	color:var(--text-light);
	margin-block:1rem;
	font-size:.9rem
}

blockquote{
	border-inline-start:.35rem solid var(--accent);
	color:var(--text-light);
	margin-block:2rem;
	margin-inline:2rem 0;
	padding:.4rem .8rem;
	font-style:italic
}

cite{
	color:var(--text-light);
	font-size:.9rem;
	font-style:normal
}

dt{color:var(--text-light)}

pre,pre span,kbd,samp{font-family:var(--mono-font)}

code{
	font-family:var(--mono-font);
	color:var(--code)
}

kbd{color:var(--preformatted)}

pre code{
	color:var(--code);
	background:0 0;
	margin:0;
	padding:0
}

sup,sub{vertical-align:baseline;position:relative}

sup{top:-.4em}

sub{top:.3em}

.notice{background:var(--accent-bg);border:2px solid var(--border);margin:2rem 0;padding:1.5rem}

@media print{
	@page{margin:1cm}
	body{display:block}
	body>header{background-color:unset}
	body>header nav,body>footer{display:none}
	article{
		border:none;
		padding:0
	}
	a[href^=http]:after{content:" <" attr(href)">"}
	abbr[title]:after{content:" (" attr(title)")"}
	a{text-decoration:none}
	p{
		widows:3;
		orphans:3
	}
	hr{border-top:1px solid var(--border)}
	mark{border:1px solid var(--border)}
	pre,table,figure,img,svg{break-inside:avoid}
	pre code{white-space:pre-wrap}
}


